html, body {
	margin:0;
	padding:0;
}

* {
	font-family: Helvetica;
}

h1 {
	text-align: center;
}

/* PAGE HEADER */
.page-header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #333;
}

.page-header li {
	float: left;
}

.page-header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.page-header li a:hover {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

/* FORMS */
form {
	width: 80%;
	margin: 0 auto;
}

.table-form {
	margin: 0 auto;
}

/* TABLES */
table {
	width: 50%;
	margin: 0 auto;
	border-collapse: collapse;
}

th {
	height: 30px;
	background-color: #4CAF50;
	color: white;
}

th, td {
	padding: 10px;
	text-align: left;
}

.table-list tr:nth-child(even) {
	background-color: #f2f2f2
}

/* CONTAINER */
.container {
	border-radius: 25px;
	border: 2px solid #73AD21;
	background-color: #D4D8D1;
	margin: 0 auto;
	padding: 20px;
}

.container-login {
	width: 35%;
}

.container-main {
	width: 90%;
	margin-top: 40px;
	margin-bottom: 40px;
}

/* IMAGES */
.latest-images {
	height: 250px;
}

.image-title {
	margin-bottom: 2px;
	margin-top: 5px;
	font-weight: bold;
}